<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Site Incharge</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
<h1>Site Incharge Session</h1><br>
<a href="request"><button class="btn btn-primary">Request Material</button></a><br>
<div class="container">
  <hr>
  <table class="table table-bordered">
    <tr>
      <th>Material Id</th>
      <th>Material Name</th>
      <th>Material Quantity</th>
      <th>Material Unit</th>

    </tr>
    <tr th:each="material:${material}" >
      <td th:text="${material.materialId_}"></td>
      <td th:text="${material.materialName_}"></td>
      <td th:text="${material.materialQuantity_}"></td>
      <td th:text="${material.materialUnit_}"></td>
    </tr>
  </table>
</div>

<form th:action="@{/logout}" method="post">
  <button class="btn btn-danger">LOGOUT</button>
</form>

</body>
</html>